h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
a,
.btn-default,
textarea {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
ul {
  list-style: none;
}

header .header-logo img {
  width: 35%;
}

header .header-social-icon {
  text-align: end;
  margin: 5px 15px;
}

header .header-social-icon i {
  padding: 0 12px;
  font-size: 17px;
}

header .header-left-main {
  text-align: end;
  padding: 0 0px;
}

header .header-left-main a {
  padding: 0 23px;
  text-decoration: none;
  color: black;
  font-size: 17px;
  font-weight: 400;
}

header .header-left-main .active {
  font-weight: 700;
}

header .header-left-main a:hover {
  color: #000;
  font-weight: 700;
}

section.banner-section {
  background-image: url("../images/banner/home-slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 127px 0 13px 0px;
  width: 100%;
  color: aliceblue;
  text-align: center;
}

section.banner-section .banner-content h1 {
  font-size: 36px;
  font-weight: 700;
  padding: 27px 36px 34px 25px;
  color: #c8c8c8;
}

section.banner-section .banner-content h4 {
  font-size: 27px;
  font-weight: 600;
  padding: 0px 0px 17px 0px;
  color: #c8c8c8;
}

section.banner-section .banner-content h5 {
  font-size: 27px;
  font-weight: 600;
  color: #fff;
}

section.banner-section .banner-content h5 span {
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
  color: cyan;
}

section.banner-section .banner-content h5 span {
  color: red;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  animation: text-animation 3s ease-in-out forwards alternate infinite;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

section.banner-section .banner-content h5 span {
  height: 20%;
  color: transparent;
}

@keyframes text-animation {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 0% 1%, 0% 100%, 0% 100%);
  }
}

.cursor {
  position: absolute;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(0, -50%);
  border-right: 2px solid red;
  animation: cursor-animation 3s ease-in-out forwards alternate infinite;
}

@keyframes cursor-animation {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

section.banner-section .banner-content h5 span {
  color: cadetblue;
  font-size: 29px;
  font-weight: 800;
}

.banner-btn a {
  color: aliceblue;
  text-decoration: none;
  border: 1px solid #ffe;
  font-size: 20px;
  padding: 8px 14px;
  font-weight: 500;
}

.banner-btn {
  margin: 50px 0;
}
.banner-footer {
  background: #e6e6e6;
  padding: 67px 0px 42px 0;
  height: 450px;
}

.inner-content-banner {
  text-align: center;
}

.inner-content-banner h4 {
  font-size: 24px;
  padding: 12px 82px;
  font-weight: 700;
  color: #4c4c4c;
}

.inner-content-banner p {
  color: #8a8a8a;
  font-size: 16px;
  padding: 0 29px;
}
.banner-footer:hover:hover h4 {
  color: #fff;
}

.banner-footer:hover p {
  color: #fff;
}

.footer-banner-btn a {
  color: aliceblue;
  text-decoration: none;
  border: 1px solid #ffe;
  font-size: 17px;
  padding: 7px 10px;
  font-weight: 500;
}

.footer-banner-btn3 a {
  color: aliceblue;
  text-decoration: none;
  border: 1px solid #ffe;
  font-size: 17px;
  padding: 7px 10px;
  font-weight: 500;
}

/* .footer-banner-btn {
  margin: 33px 0;
  display: none;
} */

.footer-banner-btn3 {
  margin: 33px 0;
  display: none;
}
.banner-footer-two {
  background: #fff;
}

.banner-footer-two {
  padding: 73px 0 5px 0px;
}

.banner-footer-two h4 {
  font-size: 20px;
}
section.banner-footer-section {
  padding: 0 0 70px 0;
}
.inner-content-banner img {
  margin: 15px 0;
}

.patnership-image img {
  width: 100%;
}

.patnership-content h1 {
  font-weight: 800;
  font-size: 36px;
}

.patnership-content h6 {
  font-weight: 800;
  font-size: 20px;
  padding: 15px 0;
}

.patnership-content p {
  font-size: 17px;
  color: #8a8a8a;
  padding-bottom: 13px;
}

.patnership-content-btn a {
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 8px 28px;
  font-weight: 700;
}

.patnership-content-btn {
  margin: 11px 0;
}

.what-we-do-content {
  display: flex;
  background: #ffffff;
  padding: 82px 21px;
  /* margin: 19px 0; */
}

.what-we-do-inner-imag img {
  margin: 0px 0 0 19px;
}

.what-we-do-image img {
  width: 100%;
}

.what-we-do-inner-content h4 {
  font-size: 22px;
  font-weight: 700;
  padding: 0 19px 7px 19px;
}

.what-we-do-inner-content p {
  font-size: 16px;
  padding: 0 20px;
  color: #c8c8c8;
}

section.what-we-do {
  padding: 0 0 0px 0;
}

.Affiliated-content {
  margin-bottom: 46px;
  text-align: center;
}

section.Affiliated-section .owl-carousel .owl-item img {
  width: 20%;
}

section.Affiliated-section .item {
  text-align: -webkit-center;
}

section.Affiliated-section .item h6 {
  color: grey;
  padding: 21px 3px;
  font-size: 18px;
}

section.Affiliated-section .owl-nav {
  position: absolute;
  left: 20px;
  top: 50%;
}

section.Affiliated-section .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #000;
}

section.Affiliated-section button.owl-prev {
  position: absolute;
  right: -95px;
  background-color: var(--base-color);
  background: 0 0;
  color: black;
  border: none;
  padding: 0 !important;
  font-size: 101px !important;
  bottom: -49px;
}

section.Affiliated-section button.owl-next {
  position: absolute;
  right: -587px;
  bottom: -52px;
  background: 0 0;
  color: black;
  border: none;
  padding: 0 !important;
  font-size: 101px !important;
}

section.Affiliated-section .owl-theme .owl-dots {
  display: none;
}

section.Affiliated-section .owl-nav:hover {
  color: #000;
  text-decoration: none;
  background: none;
}

section.Affiliated-section .Affiliated-content h1 {
  font-size: 37px;
  padding: 0px 100px 19px 100px;
  font-weight: 800;
}

section.Affiliated-section .Affiliated-content p {
  font-size: 16px;
  color: grey;
  padding: 0 103px;
}

.Affiliated-slider-btn a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 800;
  border: 1px solid #000;
  padding: 9px 18px;
}

.Affiliated-slider-btn {
  margin: 10px 0;
}

section.Affiliated-section {
  padding: 0 0 60px 0;
  background-color: #f9f8f7 !important;
}

section.about-us-section .about-us-slider .owl-item img {
  width: 10%;
}

section.about-us-section .about-us-item {
  text-align: -webkit-center;
  border-bottom: 1px solid #e6e6e6;
  padding: 29px 0;
}

section.about-us-section .about-us-content {
  text-align: center;
  padding: 20px 0;
}

section.about-us-section .about-us-content h1 {
  font-size: 36px;
  font-weight: 800;
  padding: 25px 0;
}

section.about-us-section .about-us-content p {
  font-size: 18px;
  font-weight: 500;
  padding: 0 248px 42px 248px;
  color: grey;
}

section.about-us-section .about-us-item h6 {
  font-size: 27px;
  padding: 20px 108px;
}

section.about-us-section .about-us-slider .owl-item img.quot-img {
  width: 4%;
}

section.about-us-section .about-us-item h4 {
  font-size: 21px;
  font-weight: 700;
  padding: 19px 0 0 0;
}

section.about-us-section .owl-dots {
  display: none;
}

section.about-us-section {
  padding: 50px 0 0 0;
}

.about-us-product-slider.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding: 17px 0;
}

.about-us-product-item img {
  filter: grayscale(100%);
}

.about-us-product-item img:hover {
  filter: grayscale(0%);
}

.about-us-product-item .active {
  margin: 30px 0;
}

section.our-work-section {
  padding: 0 0 50px 0;
  overflow-x: hidden;
}

.our-work-left-main {
  background-image: url("../images/our-work/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  text-align: center;
  padding: 129px 0;
}

.our-work-left-main img {
  width: 100%;
}

.our-work-left-main h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.our-work-left-main p {
  color: #fff;
  font-size: 17px;
  padding: 13px 40px;
  margin-bottom: 21px;
}

.our-work-left-main a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
  padding: 6px 15px;
}

.our-work-right-main img {
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.our-work-right-main img {
  transition: 0.3s;
}

section.about-us-section .owl-theme .owl-nav [class*="owl-"]:hover {
  background: transparent;
  color: #000;
}

.about-us-slider .owl-nav {
  position: relative;
  left: 16px;
  top: 48%;
}

button.owl-prev {
  position: absolute;
  right: 97%;
  background-color: var(--base-color);
  background: 0 0;
  color: black;
  border: none;
  padding: 0 !important;
  font-size: 101px !important;
  bottom: 124px;
}

.about-us-slider button.owl-next {
  position: absolute;
  right: 36px;
  bottom: 134px;
  background: 0 0;
  color: black;
  border: none;
  padding: 0 !important;
  font-size: 101px !important;
}

section.patnership-section {
  padding: 0 0 50px 0;
}

.our-work-right-main img:hover {
  transform: scale(1.3);
}

.our-work-right-main {
  overflow: hidden;
}

.banner-btn a:hover {
  background: #000;
  transition: 0.5s;
  border: 0;
}

.patnership-content-btn a:hover {
  background: #000;
  transition: 0.5s;
  color: #fff;
}
.Affiliated-slider-btn a:hover {
  background: #000;
  color: #fff;
  transition: 0.5s;
}

.our-work-left-main a:hover {
  background: #000;
  transition: 0.5s;
  color: #fff;
}

.banner-footer:hover {
  background: #0d181b;
}

.footer-banner-btn:hover {
  display: block;
}
.footer-banner-btn {
  margin: 33px 0;
  display: none;
}
